In [12]:
'''1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).'''

def arthemetic_out(s):
  num1=0
  num2=0
  i=0
  while s[i]:
    num1 = num1*10 + int(s[i])
    i+=1
    if s[i] == ' ':
      break
  
  num2 = int(s[i+3:])
  op = s[i+1]
  if op == '+':
    return num1 + num2
  elif op == '-':
    return num1 - num2
  elif op == '*':
    return num1 * num2
  elif op == '//':
    if num2==0:
      return -1
    return num1//num2
print(arthemetic_out("12 + 12"))
print(arthemetic_out("12 * 12"))
print(arthemetic_out("12 // 0"))

24
144
None

In [22]:
'''2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.
Examples
perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08
perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28'''
import math
def cal_peri(li):
  A = math.sqrt( (li[0][0] - li[1][0])**2 + (li[0][1] - li[1][1])**2)
  B = math.sqrt( (li[1][0] - li[2][0])**2 + (li[1][1] - li[2][1])**2)
  C = math.sqrt( (li[2][0] - li[0][0])**2 + (li[2][1] - li[0][1])**2)
  return A+B+C

print(cal_peri([ [15, 7], [5, 22], [11, 1] ]))
print(cal_peri([[0, 0], [0, 1], [1, 0] ]))
print(cal_peri([ [-10, -10], [10, 10 ], [-10, 10] ] ))

47.07918859608948
3.414213562373095
68.2842712474619

In [30]:
'''3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).
[[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]
Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.'''

def tall_skyline(li):
  l = len(li)
  su = 0
  msum=0
  for i in range(l):
    for j in range(l):
      su += li[j][i]
    msum = max(msum,su)
    su = 0
  return msum

print(tall_skyline([[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]))
print(tall_skyline([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]]))

4
3

In [33]:
'''4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
Days Bonus
0 to 32 days Zero
33 to 40 days SGD$325 per billable day
41 to 48 days SGD$550 per billable day
Greater than 48 days SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
32*0 + 8*325 + 5*550 = 5350
Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.'''

def billable_days(num):
  if num <= 32:
    return 0
  elif num <= 40:
    return (num - 32)*325
  elif num <= 48:
    return (num - 40)*550 + 8*325
  else:
    return (num - 48)*600 + 8*550 + 8*325

print(billable_days(45)) #5350
print(billable_days(15)) #0
print(billable_days(37)) #1625
print(billable_days(50)) #8200

5350
0
1625
8200

In [37]:
'''5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.'''

def Disarium(num):
  n = str(num)
  res = 0
  for i in range(len(n)):
    res += int(n[i])**(i+1)
  if res == num:
    return True
  return False

print(Disarium(135)) #True
print(Disarium(75)) #False
print(Disarium(544)) #True

True
False
False