In [5]:
# Convert KM to Miles
Km = float(input("Kilo meter :"))
print("Miles =",0.621371*Km)

Kilo meter :10
Miles = 6.21371

In [6]:
# Convert Celsius to Fahrenheit
Cs = float(input("Celsius ="))
print("Fahrenheit =",32*Cs)

Celsius =100
Fahrenheit = 3200.0

In [7]:
# Program to display calendar
import calendar

yy = 2021  
mm = 12    
print(calendar.month(yy, mm))

   December 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [13]:
# Solve Quadratic equation
# Let Quadratic equation be 4x^2-8x+4=0
import cmath
qE = input("Quadratic Equation :")
a = int(qE[0])
b = int(qE[5])
c = int(qE[8])
root1 = (-b + cmath.sqrt(b**2 -4*a*c))/(2*a)
root2 = (-b - cmath.sqrt(b**2 -4*a*c))/(2*a)
print("First root : ",root1)
print("Second root: ",root2)

Quadratic Equation :4x^2-8x+4=0
First root :  (-1+0j)
Second root:  (-1+0j)

In [14]:
#Swap two variables without using a number
#swap two varaibles
var1 = int(input("Initial var1 = "))
var2 = int(input("Initial var2 = "))
var1 , var2 = var2 , var1
print("swapped var1 = ",var1)
print("swapped var2 = ",var2)

Initial var1 = 10
Initial var2 = 20
swapped var1 =  20
swapped var2 =  10